@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');


.navbar{
    background-color: rgba(10, 12, 9, 0.5);
    backdrop-filter: blur(5px);
}

.hero-bg {
    background-image: url("https://www.travelandleisure.com/thmb/rB0DJmuzYrmOfg-DNtyoF9ZNRRY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/rocky-mountain-national-park-colorado_CONPS1222-f750909b82f84156941457691df5f838.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.navbar {
    transition: all 0.5s;
}

.navbar-scrolled{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.heroInfoDiv {
    height: 100vh;
}

h1 {
    font-family: "Rowdies" ;
    font-size: 6vw;
    color: #fff;
}

.hero-button {
    background-color: rgba(194, 201, 190, 0.76);
    color: white;
    font-size: 3vh;
    border-radius: 12px;
    border: solid rbga(0,0,0,0.9) 3px;
    box-shadow: 0px 5px 10px 0px rgba(210, 190, 190, 0.75);
}

a {
    text-decoration: none;
    color: white
}