html {
    scroll-behavior: smooth;
}

.navbar{
    background-color: rgba(10, 12, 9, 0.5);
    backdrop-filter: blur(5px);
}
.navbar {
    transition: all 0.5s;
}

.navbar-scrolled{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

body {
    background-color: #e7cdab;
}

footer {
    bottom: 0;
    position:absolute;
}