@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Rowdies&display=swap');


@media (max-width: 767.98px) {
    #fixedDiv {
        position: static; /* or relative */
        width: 100%;
    }
    #displayDiv {
        width: 100%;
        margin-left: 0; /* Resets the offset */
    }
}
/* Base Styles */
#fixedDiv {
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

#displayDiv {
   padding: 20px;
}

/* Media Query for smaller screens */
@media (max-width: 767.98px) {
    #fixedDiv {
        position: static; /* Reverts to default positioning on small screens */
        width: 100%;
    }

    #displayDiv {
        margin-left: 0; /* Removes offset on small screens */
    }
}
.card {
    font-family: "Crimson Text";
}

.navbar{
    background-color: rgba(10, 12, 9, 0.5);
    backdrop-filter: blur(5px);
}
.navbar {
    transition: all 0.5s;
}


.navbar-scrolled{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("https://cdn.outsideonline.com/wp-content/uploads/2022/09/yosemite-h.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

main {
    margin-top: 4%;
}

h5 {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    text-decoration: underline 2px;
    text-decoration-color: #ffb235;
    text-underline-offset: 0.3rem;
    line-height: 2rem;
}

footer {
    background-color: black;
    bottom: 0;
}

.card {
    box-shadow: 0 10px 10px rgba(0,0,0, 0.5);
}

.card-custom {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}